body {
background: rgba(219, 160, 8, 0.57);
}
#container {
  width: 95%;
  clear: both;
  }
  .datos h2 {
    color: rgb(113, 28, 6);
    }

  #perfil {
    width: 20%;
    height: 100vh;
    float: left;
    position:fixed;
    margin-left: 2%;
    margin-top: 1%;
    margin-right: 1%;
    padding-left: 5%;
    padding-top: 5%;
    background: rgba(254, 195, 44, 0.97);
    border: 5px solid rgba(210, 148, 9, 0.39);
  }
  .boton {
    width: 80%;
    clear: both;
    font-family:serif;
    margin-top: 7%;
    margin-bottom: 7%;
    background-color: rgba(205, 126, 6, 0.77);
    border: 2px solid rgba(217, 143, 16, 0.71);
  }
  #imagen {
    height: 90% auto;
    margin-top: 5%;
    max-width: 80%;
    }

  .padding{
  width: 60%;
  float: right;
  padding-top: 5%;
  padding-left: 5%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-width: 1% ;
  border: 5px solid rgba(210, 148, 9, 0.39);  }
  #presentacion {
    background: rgba(212, 174, 16, 0.7);
  }
  #formacion {
  background: rgba(201, 170, 5, 0.83);
  }
  #experiencia {
  background: rgba(210, 171, 5, 0.64);
  }
  #portfolio {
  background: rgba(201, 165, 9, 0.77);
  }
