h1{
  color: rgb(154, 9, 18);
  front_family: Baskerville, sans serif;
  }

  #container {
    width: 90%;
    clear: both;
    margin: 0 auto;
    padding: 1%;
    background: <a href="depositphotos_32936781-stock-photo-art-floral-grunge-graphic-background.jpg">img</a>
  }
  #columna1 {
   padding: 1%;
   margin-left: 5%;
   margin-top: 5%;
   margin-right: 5%;
   margin-bottom: 5%x;
   background: rgba(212, 174, 16, 0.82)
}
