h1{
  color: rgb(154, 9, 18);
  front_family: arial, sans serif;
}

#container {
  width: 90%;
  height: 90%;
  clear: both;
  margin: 0 auto;
  padding: 1% 2%;
  background: rgba(230, 201, 13, 0.6);
}

 #encabezado {
  width: 30%;
  float: left;
  background: rgba(212, 174, 16, 0.82);
  }

  #imagen {
    width: 54%;
    height: 47%;
    margin-left: 23%;
    margin-bottom: 20%;
      }

#presentacion_general {
  width: 70%;
  float: right;
  background: rgba(174, 236, 167, 0);
  }

#descripcion{
  background: rgba(206, 210, 5, 0.59);
  width: 70%;
  float: right;
  height: 30%;
}
